
@font-face{
    font-family: rubikOne;
    src: url('../fonts/rubikone-regular-webfont.woff');
    src: url('../fonts/rubikone-regular-webfont.woff2');
}

@font-face{
    font-family: BarlowCondesed-SemiBold;
    src: url('../fonts/barlow-condensed-semi-bold.otf');
}

@font-face{
    font-family: Barlow;
    src: url('../fonts/Barlow-Black.ttf');
}

@font-face{
    font-family: Barlow-medium;
    src:url('../fonts/BarlowCondensed-Medium.ttf');
}

.container{
    width: 1290px;
    margin: 0 auto 0;
  }

/* inicio do gate */

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    
}


.gate-age{
    background-image: url('https://cdn.zeplin.io/5d02a22859c9931608991e27/assets/1ba84d50-9d57-497d-a4e7-eeb2dc465d4d.svg');    
    text-align: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
}

.img-gate-age{
    margin-top: calc((67 / 1920) * 100vw);
    margin-bottom: calc((144 / 1920) * 100vw);
    height: calc((203 / 1920) * 100vw);
    width: calc((293 / 1920) * 100vw);
    align-self: center;

}

.span-gate{
    font-family: BarlowCondesed-SemiBold;
    margin-bottom: calc((57 / 1920) * 100vw);
}

.span-gate-1{
    color: white;
    font-family: rubikOne;
    font-size: calc((32 / 1920) * 100vw);
    line-height: 1;
    margin-bottom: 1px;
}
.span-gate-2{
    color: #ffb800;
}

.span-gate-3{
    -webkit-text-stroke: calc((1.6 / 1920) * 100vw);
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #ffb800; 
    font-weight: 600;
    margin-left: 15px;
    color: transparent;
}

.span-gate-4{
    color: white;
    margin-left: 15px;
    font-weight: bold;
}

.span-texto{
    line-height: 1;
    font-size: calc((125 / 1920) * 100vw);
}

.div-btn-gate{
    display: flex;
    justify-content: space-between; 
    align-self: center;

    width: calc((486 / 1920) * 100vw);
    height: calc((70 / 1920) * 100vw);
    margin-bottom: calc((244 / 1920) * 100vw);
}

.btn-gate{

  
    padding: 0px calc((23 / 1920) * 100vw);
    font-family: BarlowCondesed-SemiBold;
    font-weight: 600;
    letter-spacing: calc((2.4 / 1920) * 100vw);
    border:calc((2 / 1920) * 100vw) solid #e1251b;
    width: calc((228 / 1920) * 100vw);
    height: calc((70 / 1920) * 100vw);
    margin: 1px 2px 3px 4;
    background-color: transparent;
    color: white;
    outline: none;
}

.btn-gate:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: #e1251b;
    cursor: pointer;
}


.texto-gate{
    font-family: Barlow;
    font-weight: 100;
    font-size: calc((14 / 1920) * 100vw);
    line-height: 1.95;
    align-self: center;
    width: calc((931 / 1920) * 100vw);
    color: white;
}

/* fim do gate */

/* inicio do menu 1 */

.menu-part-1{
    background-image: url("../img/image\ 3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc((940 / 1920) * 100vw);

}

.div-logo-dadobier{
    position: relative;
}

.div-logo-dadobier{
    height: calc((270 / 1920) * 100vw);
}

.logo-dadobier{
    width: calc((169 / 1920) * 100vw);
    
    left: calc((875 / 1920) * 100vw);;
    top: calc((53 / 1920) * 100vw);
    position: relative;
}

.btn-menu{
    width: calc((100 / 1920) * 100vw);
    height:calc((100 / 1920) * 100vw);
    border: 0;
    right: calc((50 / 1920) * 100vw);
    top: calc((50 / 1920) * 100vw);
    float: right;
    position: relative;
    background-color: #0d0d0d;
    opacity: 0.8;
}

.menu-social-media{

    position: absolute;
    top: calc((462 / 1920) * 100vw);
    left: calc((58 / 1920) * 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-social-media{
    padding: 0;
    margin: 0;
}

.menu-media{
    list-style: none;
    margin-bottom: calc((17 / 1920) * 100vw);
}

.img-menu-midia{
    width: calc((17 / 1920) * 100vw);
    
}

.vertical-lign{
    width: 0px;
    height: calc((100 / 1920) * 100vw);
    margin-bottom: calc((54 / 1920) * 100vw);
    border-left: 2px solid white;
}

.menu-part-1 .menu-social-media span {
    font-family: rubikOne;
    transform: rotateZ(-90deg);
    width: calc((114 / 1920) * 100vw);
    height: calc((13 / 1920) * 100vw);
    font-size: calc((15 / 1920) * 100vw);
    padding-bottom: calc((4 / 1920) * 100vw);
    color: white;
}

.text-menu-part-1{
    position: relative;
    left: calc((324 / 1920) * 100vw);
    top: calc((45 / 1920) * 100vw);
    margin:0;
    line-height: 0.8;
    
}

.menu-part-1 .text-menu-part-1 h2 {
    font-family: rubikOne;
    font-size: calc((98.5 / 1920) * 100vw);
    text-transform: uppercase;
    color: white;
    margin: auto;
}

.menu-part-1 .text-menu-part-1 span {
    font-family: Barlow-medium;
    color: #ffb800;
    left: -25px;
    position: relative;
    letter-spacing: 1.2px;
}

.menu-part-1 .text-menu-part-1 b {
    font-family: Barlow; 
    font-size: calc((110 / 1920) * 100vw);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#ffb800;
    font-weight: bold;
    color: transparent;
    display: inline-block;
    -webkit-transform: scale(1,1.2);
}

.border-white-bottom{
    background-size: cover;
    position: relative;
    top: calc((213 / 1920) * 100vw);
    width: calc((1920 / 1920) * 100vw);
}


/* fim do menu  1*/

/* inicio do menu  2*/


.border-white-top{
    position: relative;
    top: -1px;
}

.menu-part-2{
    background-image: url("https://cdn.zeplin.io/5d02a22859c9931608991e27/assets/4160ba7b-133a-4c3c-af5d-524aab98180d.svg");
    padding: calc((180 / 1920) * 100vw) calc((315 / 1920) * 100vw) calc((100 / 1920) * 100vw) calc((315 / 1920) * 100vw);
}

.container-title-section-2{
}

.img-container-title{
    position: absolute;
    left: calc((131 / 1920) * 100vw);
    top: calc((940 / 1920) * 100vw);
}

.title-section-2{
    width: calc((500 / 1920) * 100vw);
    height: calc((320 / 1920) * 100vw);
    position: relative;
    left: calc((108 / 1920) * 100vw);
}

.h2-yellow{
    margin: 0;
    font-family: rubikOne;
    color: #ffb800;
    font-size: calc((69 / 1920) * 100vw);
    line-height: 0.8;
    text-transform: uppercase;
}

.container div .h3-barlow strong{
    font-family: fantasy;
}

.h3-barlow{
    font-family: BarlowCondesed-SemiBold;
    font-size: calc((30 / 1920) * 100vw);;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 9px 0px;
}

.p-all{
    font-family: BarlowCondesed-SemiBold;
    font-size: calc((19 / 1920) * 100vw);
    line-height: 1.2;
}

.btn-section-2{
    background-color: #0d0d0d;
    width: calc((1070 / 1920) * 100vw);
    padding: calc((50 / 1920) * 100vw) calc((110 / 1920) * 100vw);
    height: calc((133 / 1920) * 100vw);
}

.container span {
    color: #ffb800;
    font-family: BarlowCondesed-SemiBold;
    font-size: calc((30 / 1920) * 100vw);
    font-weight: 500;
}

.img-2-container-title{
    position: absolute;
    right: calc((412 / 1920) * 100vw);
    top: calc((987 / 1920) * 100vw);
}


.btn-section-beer{
    display: flex;
    justify-content: space-between;
    top: calc((25 / 1920) * 100vw);
    position: relative;
}
.btn-menu-section-2{
    width: calc((520 / 1920) * 100vw);
    height: calc((60 / 1920) * 100vw);
    padding: 0px calc((14 / 1920) * 100vw);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-1-list-beer{
 color: #333333;
 font-family: Barlow;
 font-size: calc((20 / 1920) * 100vw);
 padding: 0px 0px 0px calc((16 / 1920) * 100vw);
}

.p-2-list-beer{
    display: flex;
    justify-content: space-between;
    width: calc((162 / 1920) * 100vw);;
    font-size: calc((18 / 1920) * 100vw);
    font-family: Barlow;
    color: #323232;
}

.p-2-list-beer p{
    padding: 3px 0px 0px 0px;
}

.container-flex{
    display: flex;
    height: calc((430 / 1920) * 100vw);;
}

.container-img{
    width: calc((430 / 1920) * 100vw);
    height: calc((430 / 1920) * 100vw);
    background-color: #ffc328;
}

.container-img-2{
    width: calc((430 / 1920) * 100vw);
    height: calc((430 / 1920) * 100vw);
    background-color: #ffb800;
}

.beer-in-container{
    width: calc((230 / 1920) * 100vw);
    height: calc((300 / 1920) * 100vw);
    margin-left: auto;
    margin-right: auto;
}

.name-beer{
    margin: 0;
    position: relative;
    top: 34px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: RubikOne;
    text-transform: uppercase;
    line-height: 1.05;
}


.container-colum{
    display: flex;
    flex-direction: column;
}

/* fim do menu  2*/

/* inicio do menu  3*/

.menu-part-3{
    background-image: url("../img/Wallpaper-preto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc((960 / 1920) * 100vw);
    width: auto;
}

.container-title-section-3{
    position: relative;
    top: calc((14 / 1920) * 100vw);
    left: calc((319 / 1920) * 100vw);
}

.menu-part-3 div .container-title-section-3 h2{
    background-color: transparent;
    -webkit-text-stroke: 2px #e1251b;
    font-size: calc((120 / 1920) * 100vw);
    font-family: BarlowCondesed-SemiBold;
    margin: auto;
    height: calc((120 / 1920) * 100vw);

}

.menu-part-3 div .container-title-section-3 h3{
    font-family: rubikOne;
    font-size: calc((70 / 1920) * 100vw);
    color: white;
    margin: auto;
}
.menu-part-3 div .container-title-section-3 p{
    font-size: calc((17 / 1920) * 100vw);
    color: white;
    font-family: RubikOne;
}

.img-section-3{
    position: relative;
    top: calc((-235 / 1920) * 100vw);
    left: calc((1384 / 1920) * 100vw);
}

.space-in-box{
    display: flex;
    justify-content: center;
}

.box-section-3{
    position: relative;
    top: calc((-202 / 1920) * 100vw);
    width: calc((630 / 1920) * 100vw);
    height: calc((420 / 1920) * 100vw);
    
}

.img-box-1{
    background-image: url("../img/Mask\ Group.png");
    background-size: cover; 
    margin-right: calc((15 / 1920) * 100vw);   
}

.box-text-section-3{
    line-height: 1;
    position: relative;
    top: calc((190 / 1920) * 100vw);  
    left: calc((46 / 1920) * 100vw);  
}

.box-text-2-section-3{
    position: relative;
    top: calc((256 / 1920) * 100vw);  
    left: calc((40 / 1920) * 100vw);  
}

.border-red-section-3{
    position: relative;
    width: 66px;
    border: #e1251b solid 2px;
}

.h3-section-3{
    position: relative;
    font-size: 40px;
    font-family: RubikOne;
    color: white;
}

.h4-section-3{
    font-size: 80px;
    font-family: RubikOne;
    color: white;
}

.img-box-2{
    background-image: url(../img/Kombi.svg);
    margin-left: calc((15 / 1920) * 100vw);
}



/* fim do menu  3*/

/* inicio do menu  4*/

.section-4{
    background-image: url(../img/imagem\ da\ porcaria\ do\ restaurante.jpeg);
    height: calc((856 / 1920) * 100vw);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: calc((-26 / 1920) * 100vw);
}

.text-section-4{
    text-align: center;
    width: calc((460 / 1920) * 100vw);
    margin: auto;
}

.h2-section-4{
    position: relative;
    top: calc((-30 / 1920) * 100vw);
    color: #ffb800;
    font-size: calc((30 / 1920) * 100vw);
    font-family: BarlowCondesed-SemiBold;
    margin: 0;
}

.h3-section-4{
    position: relative;
    top: calc((40 / 1920) * 100vw);
    font-size: calc((76 / 1920) * 100vw);
    font-family: RubikOne;
    color: white;
    margin: 0;
    line-height: 1;
}

.p-section-4{
    font-size: calc((16 / 1920) * 100vw);
    font-family: Barlow;
    color: white;
    font-weight: 500;
    position: relative;
    top: calc((54 / 1920) * 100vw);
}

.btn-uni-know-more{

    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 20px 30px 20px 30px;
    font-family: BarlowCondesed-SemiBold;
    letter-spacing: 2px;
    border:solid 3px #ffb800;
    border-radius: 2px;
    

}
.position-btn-know-more-section-4{
    position: relative;
    top: 110px;
    left: 45%;
}

.arrow-left{
    background-repeat: no-repeat;
    position: relative;
    left: 103px;
    top: 380px;
}

.arrow-right{
    background-repeat: no-repeat;
    position: relative;
    left: 1719px;

/* fim do menu  4*/
